testWcfSvc/testWcfSvc/Web References/rnd-point/ConfigurationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IConfigurationService2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_IConfigurationService3_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rnd-point/_vti_bin/NetWrix/ConfigurationService.svc/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rnd-point/_vti_bin/NetWrix/ConfigurationService.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" />
      <xsd:import schemaLocation="http://rnd-point/_vti_bin/NetWrix/ConfigurationService.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rnd-point/_vti_bin/NetWrix/ConfigurationService.svc/mex?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://rnd-point/_vti_bin/NetWrix/ConfigurationService.svc/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigurationService_SetAuditConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAuditConfiguration" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetAuditConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAuditConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetAuditConfiguration_ServerRuntimeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="detail" element="q1:ServerRuntimeException" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetEventServiceConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEventServiceConfiguration" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetEventServiceConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEventServiceConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetEventServiceConfiguration_ServerRuntimeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="detail" element="q2:ServerRuntimeException" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetAuditConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditConfiguration" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetAuditConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetAuditConfiguration_ServerRuntimeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="detail" element="q3:ServerRuntimeException" />
  </wsdl:message>
  <wsdl:portType name="IConfigurationService">
    <wsdl:operation name="SetAuditConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SetAuditConfiguration" message="tns:IConfigurationService_SetAuditConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SetAuditConfigurationResponse" message="tns:IConfigurationService_SetAuditConfiguration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IConfigurationService/SetAuditConfigurationServerRuntimeExceptionFault" name="ServerRuntimeExceptionFault" message="tns:IConfigurationService_SetAuditConfiguration_ServerRuntimeExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEventServiceConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SetEventServiceConfiguration" message="tns:IConfigurationService_SetEventServiceConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SetEventServiceConfigurationResponse" message="tns:IConfigurationService_SetEventServiceConfiguration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IConfigurationService/SetEventServiceConfigurationServerRuntimeExceptionFault" name="ServerRuntimeExceptionFault" message="tns:IConfigurationService_SetEventServiceConfiguration_ServerRuntimeExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuditConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetAuditConfiguration" message="tns:IConfigurationService_GetAuditConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetAuditConfigurationResponse" message="tns:IConfigurationService_GetAuditConfiguration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IConfigurationService/GetAuditConfigurationServerRuntimeExceptionFault" name="ServerRuntimeExceptionFault" message="tns:IConfigurationService_GetAuditConfiguration_ServerRuntimeExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConfigurationService" type="tns:IConfigurationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetAuditConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetAuditConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetEventServiceConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetEventServiceConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAuditConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetAuditConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IConfigurationService1" type="tns:IConfigurationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetAuditConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetAuditConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetEventServiceConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetEventServiceConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAuditConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetAuditConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IConfigurationService2" type="tns:IConfigurationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IConfigurationService2_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetAuditConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetAuditConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetEventServiceConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetEventServiceConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAuditConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetAuditConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IConfigurationService3" type="tns:IConfigurationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IConfigurationService3_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetAuditConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetAuditConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetEventServiceConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SetEventServiceConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAuditConfiguration">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetAuditConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerRuntimeExceptionFault">
        <soap:fault use="literal" name="ServerRuntimeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="BasicHttpBinding_IConfigurationService" binding="tns:BasicHttpBinding_IConfigurationService">
      <soap:address location="http://rnd-point/_vti_bin/NetWrix/ConfigurationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>