testWcfSvc/testWcfSvc/Web References/rnd-point/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rnd-point/_vti_bin/NetWrix/ConfigurationService.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" />
  <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
  <xs:element name="SetAuditConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" minOccurs="0" name="configuration" nillable="true" type="q1:AuditConfiguration" />
        <xs:element minOccurs="0" name="force" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" minOccurs="0" name="removedConfiguration" nillable="true" type="q2:AuditConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAuditConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" minOccurs="0" name="SetAuditConfigurationResult" nillable="true" type="q3:AuditConfigurationUpdateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEventServiceConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configuration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEventServiceConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" minOccurs="0" name="GetAuditConfigurationResult" nillable="true" type="q4:AuditConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>