testWcfSvc/testWcfSvc/Web References/rnd-point/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rnd-point/_vti_bin/NetWrix/ConfigurationService.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" />
  <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
  <xs:complexType name="ArrayOfKeyValueOfListItemKeyMonitoredItemStatusYxoTkQPR">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfListItemKeyMonitoredItemStatusYxoTkQPR">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Key" nillable="true" type="q1:ListItemKey" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Value" nillable="true" type="q2:MonitoredItemStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfListItemKeyMonitoredItemStatusYxoTkQPR" nillable="true" type="tns:ArrayOfKeyValueOfListItemKeyMonitoredItemStatusYxoTkQPR" />
  <xs:complexType name="ArrayOfKeyValueOfAuditOperationAuditOperationStatusYxoTkQPR">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfAuditOperationAuditOperationStatusYxoTkQPR">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Key" type="q3:AuditOperation" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Value" nillable="true" type="q4:AuditOperationStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfAuditOperationAuditOperationStatusYxoTkQPR" nillable="true" type="tns:ArrayOfKeyValueOfAuditOperationAuditOperationStatusYxoTkQPR" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfListKeyMonitoredItemStatusYxoTkQPR">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfListKeyMonitoredItemStatusYxoTkQPR">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Key" nillable="true" type="q5:ListKey" />
            <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Value" nillable="true" type="q6:MonitoredItemStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfListKeyMonitoredItemStatusYxoTkQPR" nillable="true" type="tns:ArrayOfKeyValueOfListKeyMonitoredItemStatusYxoTkQPR" />
  <xs:complexType name="ArrayOfKeyValueOfSiteKeyMonitoredItemStatusYxoTkQPR">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfSiteKeyMonitoredItemStatusYxoTkQPR">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Key" nillable="true" type="q7:SiteKey" />
            <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Value" nillable="true" type="q8:MonitoredItemStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfSiteKeyMonitoredItemStatusYxoTkQPR" nillable="true" type="tns:ArrayOfKeyValueOfSiteKeyMonitoredItemStatusYxoTkQPR" />
  <xs:complexType name="ArrayOfKeyValueOfWebSiteKeyMonitoredItemStatusYxoTkQPR">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfWebSiteKeyMonitoredItemStatusYxoTkQPR">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Key" nillable="true" type="q9:WebSiteKey" />
            <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NetWrix.SharePoint.Audit.Services.Interfaces" name="Value" nillable="true" type="q10:MonitoredItemStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfWebSiteKeyMonitoredItemStatusYxoTkQPR" nillable="true" type="tns:ArrayOfKeyValueOfWebSiteKeyMonitoredItemStatusYxoTkQPR" />
</xs:schema>